.link_topic {
    padding-left: 8px;
    display: flex;
    border-bottom: 1px solid $separator;
    .link_topic_title {
        .link_topic_title_link {
            display: flex;
            align-items: center;
            width: 565px;
            .link_topic_title_link_important {
                font-family: "Myriad Pro";
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.012em;
                color: #FFFFFF;
                padding: 2px 8px;
                margin-top: 18px;
                margin-bottom: 8px;
            }
            .red {
                background: $admin;
                margin-right: 8px;
                border-radius: 4px;
            }
            .yellow {
                background: $yellow;
                margin-right: 8px;
                border-radius: 4px;
                color: $black;
            }
            .blue {
                background: $moderator;
                margin-right: 8px;
                border-radius: 4px;
            }
            .link_topic_title_link_text {
                font-family: "Myriad Pro";
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.012em;
                color: $black;
                text-decoration: none;
                margin: 15px auto 4px 0;
            }
        }
        .link_topic_title_info {
            display: flex;
            align-items: center;
            margin-bottom: 18px;
            .link_topic_title_info_user {
                font-family: "Helvetica Neue";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.01em;
                color: #3E3E3E;
                .red {
                    color: $admin;
                }
                .yellow {
                    color: $yellow;
                }
                .blue {
                    color: $moderator;
                }
            }
            .link_topic_title_info_numbers_message {
                margin-left: 12px;
                font-family: "Myriad Pro";
                font-style: normal;
                font-weight: normal;
                display: flex;
                align-items: center;
                text-align: center;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.0024em;
                color: #3E3E3E;
                span {
                    margin-right: 5px;
                }
                div {
                    width: 16px;
                    height: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
                .active {
                    background: #ECECEC;
                    border-radius: 4px;
                }
            }
        }
    }
    .link_topic_answer {
        width: 100px;
        .link_topic_answer_count {
            margin-top: 18px;
            margin-bottom: 2px;
            font-family: "Myriad Pro";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.012em;
            color: $black;
        }
        .link_topic_answer_text {
            font-family: "Helvetica Neue";
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: $grey;
            margin-bottom: 18px;
        }
    }
    .link_topic_see {
        width: 100px;
        .link_topic_see_count {
            margin-top: 18px;
            margin-bottom: 2px;
            font-family: "Myriad Pro";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.012em;
            color: $black;
        }
        .link_topic_see_text {
            font-family: "Helvetica Neue";
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: $grey;
            margin-bottom: 18px;
        }
    }
    .link_topic_user {
        display: flex;
        img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin: 16px 16px 16px 0;
        }
        .link_topic_user_body {
            width: 270px;
            .link_topic_user_body_desc {
                font-family: "Helvetica Neue";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.01em;
                color: $black;
                margin-top: 16px;
                margin-bottom: 4px;
            }
            .link_topic_user_body_auhtor {
                font-family: "Helvetica Neue";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.01em;
                color: $black;
                .red {
                    color: $admin;
                }
                .yellow {
                    color: $yellow;
                }
                .blue {
                    color: $moderator;
                }
            }
        }
    }
}

.link_topic:last-child {
    border-bottom: none;
}
