.search_body {
    .search_body_all {
        width: 100%;
        margin-top: 16px;
        background: #FFFFFF;
        box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.04);
        .search_body_title {
            padding: 40px 40px 25px 40px;
            border-bottom: 1px solid $dark-grey;
            h2 {
                margin: 0;
                font-family: "Myriad Pro";
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 0.0024em;
                color: $dark-grey;
            }
        }
        .search_body_content {
            padding: 24px 40px 40px 40px;
            .search_body_link {
                width: auto;
                margin-bottom: 24px;
                padding: 24px;
                background: $space-grey;
                box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.04);
                display: flex;
                .search_body_link_left {
                    margin-right: 16px;
                    img {
                        width: 56px;
                        height: 56px;
                        border-radius: 50%;
                    }
                }
                .search_body_link_right {
                    .search_body_link_right_link {
                        margin-bottom: 8px;
                        font-family: "Myriad Pro";
                        font-weight: bold;
                        font-size: 24px;
                        letter-spacing: 0.0024em;
                        color: $black;
                        text-decoration: none;
                    }
                    .search_body_link_right_info {
                        font-family: "Helvetica Neue";
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.01em;
                        margin-bottom: 24px;
                        color: $grey;
                    }
                    .search_body_link_right_content {
                        font-family: "Helvetica Neue";
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 0.01em;
                        color: #100D00;
                    }
                }
            }
        }
    }

    .lists_topics_bottom_sort {
        background: $wite;
        box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.04);
        border-radius: 4px 4px 0px 0px;
        margin-top: 16px;
        margin-bottom: 96px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .lists_topics_top_sort_number_topics {
            display: flex;
            align-items: center;
            margin: 0 40px;
            .sort_numbers_topics {
                display: flex;
                div {
                    width: 42px;
                    height: 42px;
                    margin-top: 16px;
                    margin-bottom: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    font-family: "Myriad Pro";
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 12px;
                    letter-spacing: 0.0024em;
                    color: $black;
                    cursor: pointer;
                }
                .active {
                    background: $separator;
                }
                span {
                    font-family: "Myriad Pro";
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                    letter-spacing: 0.0024em;
                    color: #100D00;
                    display: flex;
                    align-items: center;
                }
            }
            .sort_numbers_topics_moo {
                cursor: pointer;
                font-family: "Helvetica Neue";
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.004em;
                color: $black;
                margin-left: 17px;
                div {
                    margin-left: 7px;
                }
            }
            .sort_numbers_topics_all {
                margin: 0 24px;
                font-family: "Helvetica Neue";
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.004em;
                color: #3E3E3E;
            }

        }
    }

}
