@font-face {
  font-family: "Helvetica Neue";
  src: url(/fonts/HelveticaNeueCyr-Bold.eot?5bbf832fec501cfb6afae24d67d39a0a);
  src: url(/fonts/HelveticaNeueCyr-Bold.eot?5bbf832fec501cfb6afae24d67d39a0a) format("embedded-opentype"), url(/fonts/HelveticaNeueCyr-Bold.woff?ca12a719cd344dd391d9f51e7bbd9b33) format("woff"), url(/fonts/HelveticaNeueCyr-Bold.ttf?50475e9398305457c4ead55941b10a0f) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(/fonts/HelveticaNeueCyr-Roman.eot?e2cd70ac11658e1d9c328d345d86ff7f);
  src: url(/fonts/HelveticaNeueCyr-Roman.eot?e2cd70ac11658e1d9c328d345d86ff7f) format("embedded-opentype"), url(/fonts/HelveticaNeueCyr-Roman.woff?510e1c045e61e20233f9ecf23d031703) format("woff"), url(/fonts/HelveticaNeueCyr-Roman.ttf?fadb2adb0984cb4e053e45428d96e01a) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(/fonts/HelveticaNeueCyr-Medium.eot?ae503b13b400cfaea50d767b4b61b810);
  src: url(/fonts/HelveticaNeueCyr-Medium.eot?ae503b13b400cfaea50d767b4b61b810) format("embedded-opentype"), url(/fonts/HelveticaNeueCyr-Medium.woff?2a615283a212836fd6c33bf32bc87ebf) format("woff"), url(/fonts/HelveticaNeueCyr-Medium.ttf?e603c690f754c70654004a753c17b60b) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(/fonts/HelveticaNeueCyr-Light.eot?990d529761b45e6cff159655a2eac3c9);
  src: url(/fonts/HelveticaNeueCyr-Light.eot?990d529761b45e6cff159655a2eac3c9) format("embedded-opentype"), url(/fonts/HelveticaNeueCyr-Light.woff?e914a2dd1cd1d3c3944e0ad0e950046d) format("woff"), url(/fonts/HelveticaNeueCyr-Light.ttf?307781839e3e303ff49b223dc242baac) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url(/fonts/MyriadPro-Black.eot?64be56aaf2cdf7e03eefb85f241c5b4a);
  src: url(/fonts/MyriadPro-Black.eot?64be56aaf2cdf7e03eefb85f241c5b4a) format("embedded-opentype"), url(/fonts/MyriadPro-Black.woff?26ace6126968ee1b77a6780f54d6581c) format("woff"), url(/fonts/MyriadPro-Black.ttf?06b251661dab072d9a51d3371827a1fb) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url(/fonts/MyriadPro-Bold.eot?791db10c0c385985266105a2ffba7ed4);
  src: url(/fonts/MyriadPro-Bold.eot?791db10c0c385985266105a2ffba7ed4) format("embedded-opentype"), url(/fonts/MyriadPro-Bold.woff?cd0e440e50031db4a74b3f3b62916b44) format("woff"), url(/fonts/MyriadPro-Bold.ttf?d5b486487376f7295854815db1a93224) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url(/fonts/MyriadPro-Semibold.eot?047d7c35501af95d78bbe3a8bd856129);
  src: url(/fonts/MyriadPro-Semibold.eot?047d7c35501af95d78bbe3a8bd856129) format("embedded-opentype"), url(/fonts/MyriadPro-Semibold.woff?6f86fd297a6d5c1f76e5a4412ccc8eb9) format("woff"), url(/fonts/MyriadPro-Semibold.ttf?e753d434a34f00b2afa45aa4771ecee2) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url(/fonts/MyriadPro-Regular.eot?1d31e744cee077ef32f699ca2d3e8a0c);
  src: url(/fonts/MyriadPro-Regular.eot?1d31e744cee077ef32f699ca2d3e8a0c) format("embedded-opentype"), url(/fonts/MyriadPro-Regular.woff?396e556a2d523ca7b2829a60a3b04732) format("woff"), url(/fonts/MyriadPro-Regular.ttf?be82e3850974c1ccddfcf305d93ad7ce) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Object Sans";
  src: url(/fonts/ObjectSans-Regular.eot?42b2031a8c0a631f2ca36a27be6ae83e);
  src: url(/fonts/MyriadPro-Regular.eot?1d31e744cee077ef32f699ca2d3e8a0c) format("embedded-opentype"), url(/fonts/MyriadPro-Regular.woff?396e556a2d523ca7b2829a60a3b04732) format("woff"), url(/fonts/MyriadPro-Regular.ttf?be82e3850974c1ccddfcf305d93ad7ce) format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Myriad Pro", "Fira Sans", "Helvetica Neue", "Object Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
}

.header {
  font-family: "Object Sans";
  min-height: 80px;
  display: flex;
  justify-content: space-between;
}

.header a {
  display: flex;
  align-items: center;
}

.header a .logo {
  margin: auto 70px auto 0;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__navigation .navigations {
  display: flex;
  align-items: center;
  margin-right: 110px;
}

.header__navigation .navigations a {
  margin-right: 25px;
  font-family: Object Sans;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.004em;
  text-decoration: none;
  color: #100D00;
}

.header__navigation .navigations a:last-child {
  margin-right: 0;
}

.header__social {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.header__social a:first-child {
  margin-right: 30px;
}

.header__social a:last-child {
  margin-right: 0;
}

.header__auth {
  margin: auto 25px auto 0;
  width: 200px;
  height: 48px;
  border-radius: 4px;
  background: #EAB817;
  color: #100D00;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.004em;
  text-decoration: none;
}

.header__localization {
  display: flex;
  align-items: center;
}

.header__localization img {
  margin-right: 10px;
}

.header__localization .navig_localization {
  font-family: Object Sans;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.004em;
  margin-left: 0;
  padding-left: 0;
}

.header__localization .navig_localization li {
  list-style-type: none;
  width: 60px;
}

