.km_card {
    min-height: 288px;
    position: relative;
    display: flex;
    align-items: center;
    .wrapper {
        background: url(../../../../assets/img/kalian_moo.jpg) center center no-repeat;
        min-height: 288px;
        padding: 55px 95px;
        .km_body {
            max-width: 720px;
            .km_title {
                font-family: "Myriad Pro";
                font-weight: 600;
                font-size: 28px;
                line-height: 34px;
                display: flex;
                align-items: center;
                letter-spacing: 0.0024em;
                color: $wite;
                margin-bottom: 15px;
                margin-top: 0;
            }
            .km_description {
                font-family: "Helvetica Neue";
                font-weight: normal;
                font-size: 18px;
                line-height: 20px;
                letter-spacing: 0.004em;
                color: $separator;
                margin-bottom: 25px;
            }
            .km_submits {
                display: flex;
                .km_invite {
                    font-family: "Object Sans";
                    margin: auto 35px auto 0;
                    width: 200px;
                    height: 48px;
                    border-radius: 8px;
                    background: $yellow;
                    color: $black;
                    font-size: 16px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    letter-spacing: 0.004em;
                    text-decoration: none;
                }
            }
        }
    }
}
