.article_message {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
    .article_message_img {
        margin-right: 16px;
        img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
    }
    .article_message_body {
        .article_message_body_info {
            font-family: "Myriad Pro";
            font-style: normal;

            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #3E3E3E;
            margin-bottom: 8px;
            span {
                font-weight: 600;
            }
        }
        .article_message_body_message {
            font-family: "Helvetica Neue";
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.01em;
            color: #100D00;
        }
    }
}
