@font-face {
    font-family: 'Helvetica Neue';
    src: url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueLTPro-Bd.otf');
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueLTPro-Roman.otf');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueLTPro-Md.otf');
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueLTPro-Lt.otf');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../../assets/fonts/Myriad Pro/MyriadPro-Black.otf');
    font-weight: 900;
    font-style: normal
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../../../assets/fonts/Myriad Pro/MyriadPro-Bold.otf');
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../../../assets/fonts/Myriad Pro/MyriadPro-Semibold.otf');
    font-weight: 600;
    font-style: normal
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../../../assets/fonts/Myriad Pro/MyriadPro-Regular.otf');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Object Sans';
    src: url('../../../assets/fonts/Object Sans/ObjectSans-Regular.otf');
    font-weight: 400;
    font-style: normal
}
