@font-face {
    font-family: 'Helvetica Neue';
    src: url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Bold.eot');
    src: url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Bold.woff') format('woff'), url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Roman.eot');
    src: url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Roman.woff') format('woff'), url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Medium.eot');
    src: url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Medium.woff') format('woff'), url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Light.eot');
    src: url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Light.woff') format('woff'), url('../../../assets/fonts/Helvetica Neue LT Pro/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../../assets/fonts/Myriad Pro/MyriadPro-Black.eot');
    src: url('../../../assets/fonts/Myriad Pro/MyriadPro-Black.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/Myriad Pro/MyriadPro-Black.woff') format('woff'), url('../../../assets/fonts/Myriad Pro/MyriadPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../../../assets/fonts/Myriad Pro/MyriadPro-Bold.eot');
    src: url('../../../assets/fonts/Myriad Pro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/Myriad Pro/MyriadPro-Bold.woff') format('woff'), url('../../../assets/fonts/Myriad Pro/MyriadPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../../../assets/fonts/Myriad Pro/MyriadPro-Semibold.eot');
    src: url('../../../assets/fonts/Myriad Pro/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/Myriad Pro/MyriadPro-Semibold.woff') format('woff'), url('../../../assets/fonts/Myriad Pro/MyriadPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../../../assets/fonts/Myriad Pro/MyriadPro-Regular.eot');
    src: url('../../../assets/fonts/Myriad Pro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/Myriad Pro/MyriadPro-Regular.woff') format('woff'), url('../../../assets/fonts/Myriad Pro/MyriadPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Object Sans';
    src: url('../../../assets/fonts/Object Sans/ObjectSans-Regular.eot');
    src: url('../../../assets/fonts/Myriad Pro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/Myriad Pro/MyriadPro-Regular.woff') format('woff'), url('../../../assets/fonts/Myriad Pro/MyriadPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal
}
