@import './fonts';

// Variables
@import './variables';

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Myriad Pro', 'Fira Sans', 'Helvetica Neue', 'Object Sans',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #F9F9F9;
}

.wrapper {
    width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}

@import "./components/components";
