.home_search {
    background: url(../../../../../assets/img/kalian1.jpg) 100% 100% no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 513px;
    display: flex;
    align-items: center;
    .home_search_block {
        width: 696px;
        height: 305px;
        background: $wite;
        border: 1px solid #ECECEC;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 40px 35px;
        .home_search_title {
            font-family: 'Myriad Pro';
            margin-top: 0;
            margin-bottom: 15px;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 0.0024em;
            color: $black;
        }
        .home_search_description {
            display: block;
            font-family: 'Helvetica Neue';
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.004em;
            color: $grey;
            margin-left: 10px;
            position: relative;
            margin-bottom: 30px;
            &::before {
                content: "";
                background: $yellow;
                position: absolute;
                width: 4px;
                height: 24px;
                border-radius: 1px;
                left: -10px;
            }
        }
        .home_search_statistic {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            img {
                margin-right: 8px;
            }
            &>div {
                display: flex;
                height: 100%;
                align-items: center;
                font-family: 'Helvetica Neue';
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.004em;
                color: $grey;
            }
        }
        .home_search_input {
            width: 100%;
            position: relative;
            &::before {
                content: "";
                background: url(../../../../../assets/img/search-light.svg);
                position: absolute;
                left:15px;
                top: 8px;
                height: 23px;
                width: 23px;
            }
            .home_search_input_block {
                width: 100%;
                height: 40px;
                font-family: 'Helvetica Neue';
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.004em;
                color: #BBBBBB;
                border: 1px solid $dark-grey;
                box-sizing: border-box;
                border-radius: 4px;
                padding-left: 50px;

            }
            .search_home_submit {
                background: url(../../../../../assets/img/right-ligth.svg) center center no-repeat;
                border: none;
                width: 23px;
                height: 23px;
                position: absolute;
                top: 8px;
                right: 15px;
                cursor: pointer;
            }
        }
    }
}
