.help_content {
    .help_content_body {
        .help_content_title {
            margin: 40px auto 32px auto;
            font-family: "Myriad Pro";
            font-weight: 600;
            font-size: 32px;
            line-height: 38px;
            letter-spacing: 0.0024em;
            color: $black;
            max-width: 596px;
        }
        .help_content_search {
            width: 540px;
            position: relative;
            margin: 0 auto 40px auto;
            &::before {
                content: "";
                background: url(../../../../../assets/img/darck_search.svg);
                position: absolute;
                left:15px;
                top: 8px;
                height: 23px;
                width: 23px;
            }
            .search_option_input_block {
                width: 100%;
                height: 40px;
                font-family: 'Helvetica Neue';
                font-size: 16px;
                letter-spacing: 0.004em;
                color: $black;
                border: 1px solid $black;
                box-sizing: border-box;
                border-radius: 4px;
                padding-left: 50px;
                padding-top: 5px;
            }
            input[type="text" i] {
                color: $black;
                font-size: 16px;
                letter-spacing: 0.004em;
            }
            .search_option_submit {
                background: url(../../../../../assets/img/darck-right.svg) center center no-repeat;
                border: none;
                width: 23px;
                height: 23px;
                position: absolute;
                top: 8px;
                right: 15px;
                cursor: pointer;
            }
        }
    }
}
